{block content}

<div class="row mt-4 mb-4 pl-3">
    <div class="col-sm-12">
        <a href="{plink Pohoda:addStockItem}">
            <button type="button" class="btn btn-success">Add stock item</button>
        </a>
    </div>
</div>

{control stockList}