{block content}

<div class="row mt-4 mb-4 pl-3">
    <div class="col-sm-12">
        <a href="{plink FlexiBee:priceListItem}">
            <button type="button" class="btn btn-success">Add price list item</button>
        </a>
    </div>
</div>

{control priceList}